<mat-drawer-container class="example-container">
  <mat-drawer #drawer [opened]="opened" [mode]="mode">
    <div class="logo_wrapper">
      <img src="../../../assets/img/Group 481.png">
    </div>
    <div class="navigation_wrapper">
      <button mat-button routerLink="./admin_dashboard" routerLinkActive="active-link"><img src="../../../assets/img/web-page-home.svg">Dashboard</button>
      <button mat-button routerLink="./notification" routerLinkActive="active-link"><img src="../../../assets/img/notification.svg">Notifications</button>
      <button mat-button routerLink="./profile" routerLinkActive="active-link"><img src="../../../assets/img/avatar.svg">Profiles</button>
      <button mat-button routerLink="./machine_list" routerLinkActive="active-link"><img src="../../../assets/img/folder (4).svg">Machine</button>
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <mat-toolbar class="header" *ngIf="nav.visible">
      <mat-toolbar-row class="header_area">
        <div class="company_name">
          <button mat-icon-button aria-label="Example icon-button with a heart icon" (click)="drawer.toggle()" class="toggle-btn">
            <mat-icon><span class="material-icons">menu</span></mat-icon>
          </button>
          <span>HEIN, LEHMANN India Pvt. Ltd.</span>
        </div>
        <div class="setting_sec">
          <button mat-icon-button (click)="close()"><i class="material-icons">power_settings_new</i></button>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>

    
       <!-- <a  class="user_link" (click)="open()"><mat-icon class="v-align-middle edit">edit</mat-icon></a>
            <a class="logout" (click)="close()">
              <img src="../../../assets/images/signout.svg">
              <i class="fa fa-sign-out" aria-hidden="true"></i>
            </a> -->

                <!-- <mat-icon (click)="openDialog()">edit</mat-icon> -->