<mat-toolbar class="header" *ngIf="nav.visible">
    <!-- <div class="container-fluid"> -->
    <mat-toolbar-row class="header_area">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button 
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <div class="company_name">
        <h3>xdfcghbjnkm,.</h3>
      </div>
      <!-- <p class="cust-email">{{email}}</p> -->
      <div class="setting_sec">
        <div class="action_menus">
          <a [matMenuTriggerFor]="menu" class="menu_open">
            <i class="material-icons">
              settings
            </i>
          </a>
          <mat-menu #menu="matMenu" class="actions">
            <button mat-menu-item (click)="open()">
              <i class="material-icons">
                edit
              </i>
              Edit
            </button>
            <button mat-menu-item (click)="close()">
              <i class="material-icons">
                power_settings_new
              </i>
              logout</button>
          </mat-menu>
        </div>
  
        <!-- <a  class="user_link" (click)="open()"><mat-icon class="v-align-middle edit">edit</mat-icon></a>
          <a class="logout" (click)="close()">
            <img src="../../../assets/images/signout.svg">
            <i class="fa fa-sign-out" aria-hidden="true"></i>
          </a> -->
      </div>
  
      <!-- <button class="logout" mat-raised-button (click)="close()">Logout</button> -->
    </mat-toolbar-row>
    <!-- </div> -->
    <!-- <mat-icon (click)="openDialog()">edit</mat-icon> -->
  </mat-toolbar>