<div class="row">
    <div class="col-md-9">
        <div class="flex_between">
            <div class="d-flex align-items-center title_wrapper">
                <h2 class="page_title">Machine List</h2>
                <!-- <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
                    <mat-button-toggle value="bold"><span class="material-icons">border_all</span></mat-button-toggle>
                    <mat-button-toggle value="italic"><span class="material-icons">format_list_bulleted</span></mat-button-toggle>
                </mat-button-toggle-group> -->
            </div>
            <button mat-mini-fab color="primary" (click)="user()"><span class="material-icons">add</span></button>
        </div>
         <div class="card_wrapper">
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-4" *ngFor="let machine of machine_response ;let i=index">
                    <mat-card>
                        <span class="number">{{i+1}}</span>
                        <h2>{{machine.machine_name}}</h2>
                        <h3>{{machine.machine_type}}</h3>
                        <span>Controller : {{machine.machine_model}}</span>
                        <span>Model : {{machine.machine_serial_no}}</span>
                        <span>IP: {{machine.machine_ip}}</span>
                        <!-- <mat-slide-toggle color="primary"></mat-slide-toggle> -->

                        <div class="action_menus">
                            <a [matMenuTriggerFor]="menu" class="menu_open">
                                <i class="material-icons">
                                    menu_open
                                </i>
                            </a>
                            <mat-menu #menu="matMenu" class="actions">
                                <button mat-menu-item (click)="edit_view(machine)">
                                    <!-- <i class="material-icons">
                                        edit
                                    </i> -->
                                    Edit
                                </button>
                                <button mat-menu-item (click)="delete_view(machine.id)">
                                    <!-- <i class="material-icons">
                                        delete
                                    </i> -->
                                    Delete
                                </button>
                               
                            </mat-menu>
                        </div>
                    </mat-card>
                </div>
               
               
           
            </div>
        </div> 
    </div>
  
</div>

