
<div class="field_wrapper">
    <mat-form-field appearance="outline">
        <mat-label>Favorite food</mat-label>
        <mat-select>
          <mat-option>option 1</mat-option>
          <mat-option>option 1</mat-option>
          <mat-option>option 1</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Favorite food</mat-label>
        <mat-select>
          <mat-option>option 1</mat-option>
          <mat-option>option 1</mat-option>
          <mat-option>option 1</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Favorite food</mat-label>
        <mat-select>
          <mat-option>option 1</mat-option>
          <mat-option>option 1</mat-option>
          <mat-option>option 1</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <input matInput [matDatepicker]="picker" placeholder="Choose a date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>
</div>