<div class="login_wrapper">
    <div class="form-container">
        <div class="logo_wrapper">
            <img src="../../../assets/img/dark-logo.png">
          </div>
        <h2 class="style-2">Signin to continue with <span>Yantra24x7</span></h2>
        <mat-form-field appearance="outline">
            <mat-label>Username</mat-label>
            <input matInput placeholder="Placeholder">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        </mat-form-field>
      
        <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input type="password" matInput placeholder="Placeholder">
            <mat-icon matSuffix><span class="material-icons">visibility</span></mat-icon>
        </mat-form-field>
        <div class="form-footer">
            <button mat-raised-button color="primary">SUBMIT</button>
        </div>
    </div>
</div>