<div class="flex_between">
    <div class="d-flex align-items-center">
        <h2 class="page_title">Vendor List</h2>
        <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
            <mat-button-toggle value="bold"><span class="material-icons">border_all</span></mat-button-toggle>
            <mat-button-toggle value="italic"><span class="material-icons">format_list_bulleted</span></mat-button-toggle>
        </mat-button-toggle-group>
    </div>
    <button mat-mini-fab color="primary"><span class="material-icons">add</span></button>
</div>
<div class="card_wrapper">
    <div class="row">
        <div class="col-md-3">
            <mat-card class="text-center">
                   <div class="image_warpper">
                    <img src="../../../assets/img/Ellipse 51.png">
                   </div> 
                  <mat-card-title>jannet dawson</mat-card-title>
                  <mat-card-subtitle>jannetdawson@gmail.com</mat-card-subtitle>
                <mat-card-content>
                  <span>9876543210</span>
                  <span>xxxx</span>
                  <span>xxxx</span>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-mini-fab color="primary"><span class="material-icons">edit</span></button>
                    <button mat-mini-fab color="accent"><span class="material-icons">delete</span></button>
                </mat-card-actions>
              </mat-card>
        </div>
        <div class="col-md-3">
            <mat-card class="text-center">
                   <div class="image_warpper">
                    <img src="../../../assets/img/Ellipse 51.png">
                   </div> 
                  <mat-card-title>jannet dawson</mat-card-title>
                  <mat-card-subtitle>jannetdawson@gmail.com</mat-card-subtitle>
                <mat-card-content>
                  <span>9876543210</span>
                  <span>xxxx</span>
                  <span>xxxx</span>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-mini-fab color="primary"><span class="material-icons">edit</span></button>
                    <button mat-mini-fab color="accent"><span class="material-icons">delete</span></button>
                </mat-card-actions>
              </mat-card>
        </div>
        <div class="col-md-3">
            <mat-card class="text-center">
                   <div class="image_warpper">
                    <img src="../../../assets/img/Ellipse 51.png">
                   </div> 
                  <mat-card-title>jannet dawson</mat-card-title>
                  <mat-card-subtitle>jannetdawson@gmail.com</mat-card-subtitle>
                <mat-card-content>
                  <span>9876543210</span>
                  <span>xxxx</span>
                  <span>xxxx</span>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-mini-fab color="primary"><span class="material-icons">edit</span></button>
                    <button mat-mini-fab color="accent"><span class="material-icons">delete</span></button>
                </mat-card-actions>
              </mat-card>
        </div>
        <div class="col-md-3">
            <mat-card class="text-center">
                   <div class="image_warpper">
                    <img src="../../../assets/img/Ellipse 51.png">
                   </div> 
                  <mat-card-title>jannet dawson</mat-card-title>
                  <mat-card-subtitle>jannetdawson@gmail.com</mat-card-subtitle>
                <mat-card-content>
                  <span>9876543210</span>
                  <span>xxxx</span>
                  <span>xxxx</span>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-mini-fab color="primary"><span class="material-icons">edit</span></button>
                    <button mat-mini-fab color="accent"><span class="material-icons">delete</span></button>
                </mat-card-actions>
              </mat-card>
        </div>
    </div>
</div>